[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/youssef/Desktop/code.desktop]
row=3
col=0

[/home/youssef/Desktop/firefox.desktop]
row=2
col=0

[Trash]
row=0
col=0

[/home/youssef]
row=1
col=0

